@model System.Web.Mvc.HandleErrorInfo
@{
    
}





<!-- PAGE CONTENT BEGINS -->
<div class="error-container">
    <div class="well">
        <h1 class="grey lighter smaller">
            <span class="red bigger-125">
                <i class="icon-warning-sign"></i>
                Sorry
            </span>
            發生錯誤...
        </h1>

        <hr>
        <div>
            <h4 class="lighter smaller">很抱歉您無權限，使用本功能:</h4>

            <ul class="list-unstyled spaced inline bigger-110 margin-15">
                <li>
                    <i class="icon-hand-right blue"></i>
                    若要使用請洽詢系統管理人員。
                </li>
            </ul>
        </div>

        <hr>
        <div class="space"></div>

        <div class="center">
            <a class="btn btn-grey" onclick="history.go(-1);">
                <i class="icon-arrow-left"></i>
                返回上一頁
            </a>
        </div>
    </div>
</div>

<!-- PAGE CONTENT ENDS -->


